<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <header>
        <nav>
          <ul>   
            <div class="container1">
            <li><a href="inicio.html">Home</a></li> 
            <li><a href="somos.html">Quiénes somos</a></li>
            <li><a href="servicios.html">Como funciona</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="ranking.html">Rankings</a></li>
            
            {% if usuario  !=  None %}
            <form action="sesion" method="post">{% csrf_token %}
            <li><button type="submit" class="btn">Cerrar Sesión</button></li> 
            </form>
            {% elif usuario == None %}
            <li><button onclick="window.modal1.showModal();" class="btn">Iniciar Sesión</button></li> 
            {% endif %}
            
         
           
          </ul>
        </div>
        
        <div class="logo">
          <img src="{% static 'img/logo2.png' %}" alt="Ñuñoa Recicla">
          <h1 class="h1title">Comunidad Villa Cruz Gana</h1>
        </div>
        
  
        </nav>
      </header>
      <form action="login" method="post">{% csrf_token %}
      <div class="modal-container">
       
        <dialog id="modal1">
          <label for="usuario">Usuario:</label><br>
          <input type="text" id="usuario" name="usuario" required><br><br>
      
          <label for="contrasena">Contraseña:</label><br>
          <input type="password" id="contrasena" name="contrasena" required><br><br>
      
          <input class="btn" type="submit" value="Iniciar sesión">
      
          <button class="btn" onclick="window.modal1.close();">Cerrar</button>
        </dialog>
    
      </div>
    </form>
    <div>
        {% block body %}
        {% endblock %}
      </div>
    <footer>
      <p>© 2023 Comunidad Villa Cruz Gana. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
