
{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} {% block body %}
{% load static %}

    <section>
      <div class="fondo">
      <div class="columnas">
        <p> ¡Recicla! Por tu futuro y por un mundo + sustentable</p>
      </div>
      <div class="container">
        <div class="column">
            <p>Según estudios, el reciclaje en comunidad puede promover un mayor sentido de pertenencia y cohesión social. Al trabajar juntos en iniciativas de reciclaje, las personas se conectan, crean lazos y fortalecen el sentido de comunidad.</p>
        </div>
        <div class="column">
            <p>Texto de la columna 2</p>
        </div>
        <div class="column">
            <p>Texto de la columna 3</p>
        </div>
    </div>
    </div>
    </section>
  <section>
    <div class="containerpuntaje">
    <h1>Únete, recicla y suma puntos. Juntos por un futuro sostenible</h1>
    <div class="puntaje">
    <h2>En nuestra página web, creemos en el poder de la comunidad para generar un cambio positivo. Registra tus reciclajes y acumula puntos mientras te unes a una red de personas comprometidas con el reciclaje y la preservación del medio ambiente. Pronto, tendrás la oportunidad de canjear esos puntos por recompensas que te motivarán aún más en este viaje ecológico. Participa en nuestros foros y comparte tus experiencias para inspirar a otros a unirse a esta causa comunitaria. Juntos, podemos marcar la diferencia.</h1>
      <img src="{% static 'img/Puntuacion.png' %}" alt="Ñuñoa Recicla">
    </div>
  </div>
  </section>
  <section>
    <div>
   <h1>¡Contactanos aqui!</h1>
  </div>
   <div>
   <button class="btn">Contactar</button>
  </div>
  </section>
  
   

    {% endblock %}

