
{% extends "base.html" %} {% block titulo %} HOla {% endblock %} {% block body %}
{% load static %}

    <section>
      
      <div class="columnas">
        <p> ¡Recicla! Por tu futuro y por un mundo + sustentable
          <br>
          <button class="btn">Solicitud de retiro a domicilio</button>
          <button class="btn">Solicitud de retiro a comunidad</button></p>
        <p>  <img src="{% static 'img/reciclar.jpg' %}" alt="Ñuñoa Recicla"></p>
      </div>
    </section>

    <section>
      <div class="container">
          <div class="column">
              <p>Texto de la columna 1</p>
          </div>
          <div class="column">
              <p>Texto de la columna 2</p>
          </div>
          <div class="column">
              <p>Texto de la columna 3</p>
          </div>
      </div>
  </section>
  <section>
    <h1>¡Ofrecemos nuestro servicio de retiro gratis! </h1>
  </section>
  <section>
    <div class="container2">
      <div class="column2">
        <p>  <img src="{% static 'img/camion.png' %}" alt="Ñuñoa Recicla"></p>
      </div>
      <div class="column2">
        <p>  <img src="{% static 'img/equipo.png' %}" alt="Ñuñoa Recicla"></p>
      </div>
  </div>

  </section>
  <section>
    <div>
    
   <h1>
    ¡Contactanos aqui!
    
   </h1>
  </div>
   <div>
 
   <button class="btn">Cotizar</button>
  </div>
  </section>
  
    <footer>
      <p>© 2023 Ñuñoa Recicla. Todos los derechos reservados.</p>
    </footer>

    {% endblock %}

