{% extends 'base.html' %}
{% load static %}

{% block title %}Sesion{% endblock %}

{% block body %}
<form action="ingresar_residuos" method="post">{% csrf_token %}

<div class="usernot">
<h1>Bienvenido {{ usuario.nombre }}</h1>

</div>
<h1 class="h1reci">Añadir reciclaje</h1>
<p></p>
<div class="form-container">
   
        <div class="form-group">
            <label for="material">Material:</label>
            <select name="material">
                <option value="Vidrio">Vidrio</option>
                <option value="Plastico">Plastico</option>
                <option value="Papel">Papel</option>
                <option value="Metal">Metal</option>
                <option value="Tetra pak">Tetra pak</option>
              </select>
              
        </div>
        <div class="form-group">
            <label for="kilos">Kilos:</label>
            <input type="number" id="kilos" name="kilos" required>
            <input type="submit" value="Enviar">
        </div>
        
        <img src="{% static 'img/Puntuacion.png' %}" alt="Ñuñoa Recicla">
  
    
</div>
</form>
{% endblock %}
