{% extends 'base.html' %}
{% load static %}

{% block title %}Sesion{% endblock %}

{% block body %}
<form action="ingresar_residuos" method="post">{% csrf_token %}

<div class="usernot">
<h1>Bienvenido {{ usuario.nombre }}</h1>
</div>
<h1>Añadir reciclaje</h1>
<p></p>
<div class="form-container">
   
        <div class="form-group">
            <label for="material">Material:</label>
            <input type="text" id="material" name="material" required>
        </div>
        <div class="form-group">
            <label for="kilos">Kilos:</label>
            <input type="number" id="kilos" name="kilos" required>
            <input type="submit" value="Enviar">
        </div>
        
        <img src="{% static 'img/logo2.png' %}" alt="Ñuñoa Recicla">
  
    
</div>
</form>
{% endblock %}
