{% extends 'base.html' %}
{% load static %}

{% block title %}Ranking{% endblock %}

{% block body %}

<section>
    <h2>Rankings</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Total de puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for campo in ranking %}
                    {% if forloop.first %}
                        <tr>
                            <td><img src="{% static 'img/ranking.png' %}" alt="Imagen del primer usuario"></td>
                            <td>{{ campo.nombre }}</td>
                            <td>{{ campo.total_puntos }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td></td>
                            <td>{{ campo.nombre }}</td>
                            <td>{{ campo.total_puntos }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    
    
        {% comment %} <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Kilos Reciclados</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Juan Pérez</td>
                    <td>150</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>María López</td>
                    <td>200</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>Carlos Rodríguez</td>
                    <td>100</td>
                    <td>350</td>
                </tr>
                <tr>
                    <td>Laura González</td>
                    <td>300</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Pedro Martínez</td>
                    <td>250</td>
                    <td>700</td>
                </tr>
            </tbody>
        </table> {% endcomment %}
    </div>
</section>

{% endblock %}