{% extends 'base.html' %}
{% load static %}

{% block title %}Servicios{% endblock %}

{% block body %}

<section>
    <h2>Contacto</h2>
    <div class="content">
        <div class="image-group">
           
            <p>  <img src="{% static 'img/reciclar.jpg' %}" alt="Ñuñoa Recicla"></p>
            <h3>Casas particulares</h3>
                
            
            
            <p>  <img src="{% static 'img/reciclar.jpg' %}" alt="Ñuñoa Recicla"></p>
            <h3>Comunidades</h3>
        </div>
        <div class="image-group">
           
            <p>  <img src="{% static 'img/reciclar.jpg' %}" alt="Ñuñoa Recicla"></p>
            <h3>Eventos</h3>
            
            <p>  <img src="{% static 'img/reciclar.jpg' %}" alt="Ñuñoa Recicla"></p>
            <h3>Empresas</h3>
        </div>
    </div>
</section>

{% endblock %}