{% extends 'base.html' %}
{% load static %}

{% block title %}Quiénes somos{% endblock %}

{% block body %}
    <section>
        <h2>Quiénes somos</h2>
        <div class="content">
           
                <img src="{% static 'img/logo.png' %}" alt="Imagen 1">
          
            <div class="text">
                <p>Aquí puedes agregar el contenido del primer párrafo de "Quiénes somos".</p>
            </div>
        </div>
    </section>
    
    <section>
        <h2>Qué hacemos</h2>
        <div class="content reverse">
            <div class="text">
                <p>Aquí puedes agregar el contenido del primer párrafo de "Qué hacemos".</p>
            </div>
         
            <div class="column2">

                <img src="{% static 'img/logo.png' %}" alt="Imagen 3">
         </div>
        </div>
    </section>
    
    <section>
        <h2>Cuál es nuestra meta</h2>
        <div class="content">
         <div class="column2">

                <img src="{% static 'img/logo.png' %}" alt="Imagen 3">
         </div>
            <div class="text">
                <p>Aquí puedes agregar el contenido del primer párrafo de "Cuál es nuestra meta".</p>
            </div>
        </div>
    </section>
{% endblock %}
