{% extends 'base.html' %}
{% load static %}
{% block title %}Quiénes somos{% endblock %}
{% block body %}
    <section>
        
        <div class="fondosomos">
            
        <div class="content">
            <h1>Quiénes somos</h1>
            <p>  <img src="{% static 'img/sus2.png' %}" alt="Ñuñoa Recicla"></p>
            <div class="text">
                <p>En Villa Cruz Gana, somos una comunidad comprometida en abordar la problemática del escaso reciclaje en nuestros vecindarios. Nuestra meta es transformar nuestra comunidad en un modelo de sostenibilidad y cuidado ambiental.</p>
            </div>
        </div>
        <h2>Qué hacemos</h2>
        <div class="content reverse">
            <div class="column2">
                <p>  <img src="{% static 'img/reciclar.jpg' %}" alt="Ñuñoa Recicla"></p>
            </div>
         <div class="text">
            <p>Educación y concientización: Trabajamos arduamente para informar y educar a nuestros vecinos sobre la importancia del reciclaje y los impactos positivos que tiene en el medio ambiente. Organizamos talleres, charlas y materiales educativos para enseñar a reciclar de manera adecuada y eficiente.</p>
                <p>Sistema de puntaje por reciclaje: Hemos implementado un sistema de puntaje que recompensa a los vecinos por cada material reciclado. Cada vez que reciclas, acumulas puntos que se pueden canjear por incentivos y beneficios exclusivos. Esto motiva a los residentes a participar activamente en el reciclaje y a generar un impacto positivo.</p>
                <p>Eventos y actividades comunitarias: Organizamos eventos y actividades especiales relacionados con el reciclaje, como jornadas de limpieza, intercambio de materiales reutilizables y talleres creativos. Estas actividades promueven la participación activa de los vecinos y fortalecen el sentido de comunidad en Villa Cruz.</p>
            </div>
        </div>
        <h2>Cuál es nuestra meta</h2>
        <div class="content">
         <div class="column2">
            <p>  <img src="{% static 'img/cartonverde.jpg' %}" alt="Ñuñoa Recicla"></p>
         </div>
            <div class="text">
                <p>Nuestra meta principal es aumentar significativamente la tasa de reciclaje en Villa Cruz y convertirnos en un ejemplo de sostenibilidad para otras comunidades. Queremos lograr un cambio cultural, donde el reciclaje se convierta en un hábito arraigado en la vida diaria de cada residente.</p>
                <p>Aspiramos a crear conciencia sobre la importancia de reducir nuestra huella ecológica, minimizar los residuos y preservar nuestros recursos naturales. Deseamos que Villa Cruz sea un lugar en el que las generaciones futuras puedan disfrutar de un entorno limpio y saludable.</p>
                <p>En Villa Cruz Gana, invitamos a todos los vecinos a unirse a nuestro movimiento de reciclaje. Juntos, podemos marcar la diferencia y construir un futuro sostenible para todos. ¡Únete a nosotros y se parte del cambio en Villa Cruz!</p>
            </div>
        </div>
    </div> 
</div>
    </section>
{% endblock %}
